<div  class="connect-toggle-button">
  <mat-slide-toggle  class="mat-slide-toggle"  (change)="toggleState($event)" ><p *ngIf="getConnected">Toggle to get connected</p><p *ngIf="startConnecting"> Starting connect...</p><p *ngIf="connected">Connected</p></mat-slide-toggle>
<button mat-button color="primary"><img src="/public/images/earth.jpeg" alt="Eerth" class="earth" width="10px" height="10px"> Connect smart</button></div>


<!-- <mat-form-field appearance="fill">
  <mat-label>Select Country</mat-label>
  <mat-select [(value)]="selectedCountry">
    <mat-option *ngFor="let country of countries" [value]="country">
      {{ country.name }}
    </mat-option>
  </mat-select>
</mat-form-field> -->
