.connect-toggle-button {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

mat-slide-toggle{
    background-color: azure;
    
}
button{
    width: 100px;
    height: 30px;
    color: coral;
    background-color: cadetblue;
}
 
