.connect-toggle-button {
    display: flex;
    height: 100vh;
    gap: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


mat-slide-toggle{
    width: 300px;
    
}
button {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: rgb(120, 120, 218);
    border: 2px solid yellow; /* Blue border */
    background-color: transparent;
    align-items: center;
    width: 200px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;

}

button:hover {
    background-color: rgb(63, 63, 218);
    background-color: transparent;
   

}

