img {
display: flex;
justify-content: flex-start;
align-items: flex-start;
padding: 10px;
cursor: pointer;
}
.list-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    flex-direction: column;
  }
  
  mat-list {
    width: 100%;
    font-size: 16px;
  }
  


.flags{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}
