img {
display: flex;
justify-content: flex-start;
align-items: flex-start;
padding: 10px;
cursor: pointer;
}

  
  .list-container {
    display: flex;
    width: 100vw;
    justify-content: center;
  }
  mat-list{
    width: 100%;

  }
  mat-list{
    display: flex;
    align-items: center;
    padding: 12px 24px;
  }

  .item-text{
    font-size: 16px;
  }
  


.flags{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}
