<img src="images/images.png"  [routerLink]="['/']" class="back" width="50px" height="50px">

<div class="server-list"><span class="text">Server List</span></div>


<div class="contents"><img src="images/earth.png" alt="" class="globe" width="30px" height="30px"><span class="text">Connect Smart</span>   <mat-checkbox class="example-margin"
    (change)="update($event.checked)"></mat-checkbox></div>
    <div class="list-container">
        <mat-list class="mat-list">
        <img src="images/unitedstate.png" alt="" class="flags"><span class="item-text">United State</span> </mat-list>
        <mat-list><img src="images/unitedkingdom.png" alt="" class="flags"><span class="item-text">United Kingdom</span></mat-list>
       <mat-list><img src="images/germany.jpeg" alt="" class="flags"><span class="item-text">Germany</span></mat-list>
       <mat-list> <img src="images/india.jpeg" alt="" class="flags"><span class="item-text">India</span></mat-list>
       <mat-list> <img src="images/australia.jpeg" alt="" class="flags"><span class="item-text">Australia</span></mat-list>
    </div>
      
       
