img {
display: flex;
justify-content: flex-start;
align-items: flex-start;
padding: 10px;
cursor: pointer;


}
.list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;


}

mat-list{
    width: 100%;
}

.flags{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}