/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    @include mat.slide-toggle-overrides((
      track-outline-color: rgb(72, 255, 0),
      disabled-unselected-track-outline-color: rgb(255, 72, 0),
      label-text-color: black
      
    ));
  }
