/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@use '@angular/material' as mat;

:root {
  @include mat.slide-toggle-overrides((
    track-outline-color: orange,
    disabled-unselected-track-outline-color: red,
    selected-track-color: green,
    unselected-thumb-color: blue,
    selected-thumb-color: black,
    thumb-shape: 24px, // Can customize thumb size here too
  ));
}

