/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-slide-toggle {
  @include mat.slide-toggle-overrides((
   
    label-text-color: --mat-sys-on-surface,
    label-text-font: --mat-typescale-body-medium, 
    selected-icon-color: --mat-sys-on-primary-container,
    disabled-selected-icon-color: --mat-sys-on-surface,
    selected-focus-track-color: lightblue,
    unselected-focus-track-color: gray,
    selected-focus-state-layer-color: yellow,
  ));
}

.mat-list {
  @include mat.list-overrides((
    active-indicator-color: orange,
    list-item-container-color: red,
    active-indicator-color: --mat-sys-secondary-container
  ));
}
