
.connect-detail-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

img{
    cursor: pointer;
    padding: 20px;
}

.text{
    padding: 20px;
    margin-left: 50%;
    font-size: large;
}
