
.connect-detail-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

img{
    cursor: pointer;
    padding: 10px;
}

.text{
    padding-top: 10px;
    margin-left: 35%;
    font-size: large;
}
